@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@500;600&display=swap');

:root{

    /* Colors */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    --first-color-light-dark: hsl(var(--hue-color), 57%, 53%);
    --first-color-light-medium: hsl(var(--hue-color), 69%, 61%);
    --first-color-light-lighter: hsl(var(--hue-color), 92%, 85%);

    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);

    --body-color: hsl(var(--hue-color), 60%, 99%);
    --hover-color: hsl(var(--hue-color), 57%, 53%); /*hsl(var(--hue-color), 30%, 8%);*/


    /* Font and typography */
    --body-font: 'Poppins', sans-serif;
    --logo-font: 'Permanent Marker', cursive;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem; /*3rem;*/
    --h2-font-size: 1.25rem; /*2rem;*/
    --h3-font-size: 1.125rem; /*1.25rem;*/
    --h4-font-size: .938rem; /*0.875rem;*/
    --p-font-size: 1.125rem; /*1.25rem;*/
    --normal-font-size: .938rem; /*0.875rem;*/
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* spacing */
    --spacing: 0.1rem;

    --transition: all 0.3s linear;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;

}
/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --h4-font-size: 1rem;
      --p-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}


/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:var(--body-font);
    font-size: var(--normal-font-size);
    line-height: var(--line-height-normal);
    background-color: var(--body-color);
    color: var(--text-color);

}
ul{
    list-style: none;
}
a, Link{
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
h1 {
    font-size: var(--h1-font-size);
  }
h2 {
    font-size: var(--h2-font-size);
  }
h3 {
    font-size: var(--h3-font-size);
  }
h4 {
    font-size: var(--h4-font-size);
  }
p {
    margin-bottom: 1.25rem;
    font-size: var(--p-font-size);
  }

.main{
  display: grid;
  border: 1px solid;
}
.header{
    min-height:8vh;
    border: 1px solid;
  }
.center{
  height:auto;
  border: 1px solid;
}

section{
  display:flex;
  /* position:relative; */
  height:92vh;
  width: 95vw;
  margin: 0 auto;
  border: 1px solid;
  
}
@media screen and (min-width: 767px) {
  .section {
    width: 90vw;
  }
}

.hero-center {
    /* background:url(./data/images/img.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid;
    position:relative;
  }
  .hero-info{
    /* display: grid;
    grid-template-rows:repeat(3, 1fr); */
    display:flex;
    flex-direction: column;
    border: 1px solid;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;

  }
  .hero-intro{
    font-size:var(--big-font-size);
    font-family: var(--logo-font);
  }
  .hero-titles{
    height:50px;
    overflow:hidden;
  }
  .title-item{
    display:flex;
    height:50px;
    font-size:var(--h2-font-size);
    align-items:top;
    justify-content:center;
    color:var(--hover-color);
    font-weight:var(--font-semi-bold);
  }
  .hero-titles-animation{
    height:100%;
    animation:move 10s ease-in-out infinite alternate;
  }
  @keyframes move {
    25%{
      transform:translateY(-50px);
    }
    50%{
      transform:translateY(-100px);
    }
    75%{
      transform:translateY(-150px);
    }
    100%{
      transform:translateY(-200px);
    }
  }
  .hero-description{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:.5rem;
    
  }

  .hero-img{
    background:url(./data/images/blob1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display:flex;
    /* flex-direction: column;  */
    border: 5px solid;
    justify-content:center;
    align-items: center;
    width:100%;
    
  }
  .hero-img img{
    /* object-fit:cover; */
    display:flex;
    justify-content:  flex-end;
    align-items: center;
    border: 2px solid red;
    /* padding-bottom: 10px; */
    width: 25%;
    height: 100%;
    /* background:var(--body-color); */
  }



  @media screen and (min-width: 568px){

    .hero-center {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .header{
      min-height:9vh;
      border: 1px solid;
    }
    .center{
      height:auto;
      border: 1px solid;
    }
    
    section{
      display:flex;
      /* position:relative; */
      height:91vh;
      width: 95vw;
      margin: 0 auto;
      border: 1px solid;
    }
    .hero-img img{
      width: 75%;
    }
    
  }


  @media screen and (min-width: 768px){

    .header{
      min-height:12vh;
      border: 1px solid;
    }
    .center{
      height:auto;
      border: 1px solid;
    }
    section{
      display:flex;
      /* position:relative; */
      height:88vh;
      width: 95vw;
      margin: 0 auto;
      border: 1px solid;
    }
    .hero-img img{
      width: 75%;
    }
    
  }
